.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    background-color: red;
    color: white;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
}
